<?xml version="1.0"?>
<config>
  <modules>
    <Uniquewebidea_Flipcart>
      <version>0.1.0</version>
    </Uniquewebidea_Flipcart>
  </modules>
  <frontend>
    <routers>
      <flipcart>
        <use>standard</use>
          <args>
            <module>Uniquewebidea_Flipcart</module>
            <frontName>flipcart</frontName>
          </args>
      </flipcart>
    </routers>
		<layout>
		  <updates>
			<flipcart>
			  <file>flipcart.xml</file>
			</flipcart>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <flipcart>
        <class>Uniquewebidea_Flipcart_Helper</class>
      </flipcart>
    </helpers>
	<blocks>
	  <flipcart>
		<class>Uniquewebidea_Flipcart_Block</class>
	  </flipcart>
	</blocks>
  </global>
</config> 